.board
  - for row in @game.board.rows
    .board-row
      - for square in row
        .board-square{class: "word-multiplier-#{square.word_multiplier} letter-multiplier-#{square.letter_multiplier}"}
          = render_tile(square.tile) if square.tile

.tray
  - for tile in @game.tray
    .tray-square
      = render_tile(tile) if tile


