// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.board {
}

.board-square {
    background-color: #f1f0d3;
    display: inline-block;
    width: 34px;
    height: 34px;
    border: 1px;
    border-color: none;
    border-collapse: collapse;
    overflow: hidden;
}

.board-square:after {
    display: inline-block;
    padding: 7px 0;
    line-height: 10px;
    font-size: 6px;
    color: #444;
    font-weight: bolder;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.word-multiplier-2 {
    background-color: #f59ec0;
}
.word-multiplier-2:after {
    content: "Double Word";
}

.word-multiplier-3 {
    background-color: #fc0a10;
}
.word-multiplier-3:after {
    content: "Triple Word";
}

.letter-multiplier-2 {
    background-color: #a2f3f6;
}
.letter-multiplier-2:after {
    content: "Double Letter";
}

.letter-multiplier-3 {
    background-color: #35b4fc;
}
.letter-multiplier-3:after {
    content: "Triple Letter";
}

.tile {
    height: 24px;
    vertical-align: baseline;
    text-align: center;
    line-height: 24px;
    display: block;
    margin: 2px;
    padding: 2px;
    background: #ddd;
    border: solid 1px #fff;
    border-right-color: #ccc;
    border-bottom-color: #ccc;
    font-family: serif;
    font-weight: bold;
}
